# Maven
target/
*.jar
*.war

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse / Spring Tool Suite
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# Sistema operacional
.DS_Store
Thumbs.db